<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tutorial.cs.hku.tutorial_three_sum">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
